.main-container {
  background: linear-gradient(
    56deg,
    rgb(236, 236, 236) 40%,
    rgb(115, 169, 216) 40%,
    rgb(204, 238, 229) 30%,
    rgb(153, 176, 196) calc(50% + 1px),
    rgb(115, 169, 216) 40%,
    rgb(240, 234, 227) calc(50% + 1px),
    rgb(248, 242, 242) 100%
  );
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
}

.nav-bar a {
  text-decoration: none;
  color: black;
  margin: 30px;
  cursor: pointer;
}

.top {
  text-align: center;
  font-size: 3em;
}

.top h1 {
  color: #606060;
  line-height: 24px;
  letter-spacing: 2.5px;
  font-weight: 500;
  text-decoration: none solid rgb(96, 96, 96);
}

.top p {
  color: gray;
  font-size: 30px;
}

.link-img {
  width: 30px !important;
  margin: 20px;
}

@keyframes shake {
  50% {
    transform: translate(0px);
  }

  50% {
    transform: translate(0px, 90px);
  }
}

.scroll-down {
  height: 75px;
  animation: shake 2.6s;
  animation-iteration-count: infinite;
}

@media only screen and (max-width: 378px) {
  span {
    font-size: 2em !important;
  }

  .nav-bar a {
    margin-top: -5px;
  }
}
